appengine==1.8.0.2
cachetools==2.0.1
certifi==2017.7.27.1
chardet==3.0.4
dill==0.2.7.1
enum34==1.1.6
future==0.16.0
futures==3.1.1
gapic-google-cloud-datastore-v1==0.15.3
google-auth==1.1.1
google-auth-httplib2==0.0.2
google-cloud-core==0.25.0
google-cloud-datastore==1.1.0
google-gax==0.15.15
googleapis-common-protos==1.5.3
grpcio==1.4.0
httplib2==0.10.3
idna==2.6
oauth2client==3.0.0
Paste==2.0.3
ply==3.8
proto-google-cloud-datastore-v1==0.90.4
protobuf==3.4.0
pyasn1==0.3.6
pyasn1-modules==0.1.4
requests==2.20.4
rsa==3.4.2
six==1.11.0
urllib3==1.24.2
webapp2==2.5.2
WebOb==1.7.3
